@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,900;1,700;1,900&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #808080;
}

body {
    background: #AA90C5;
    background-size: cover;
    height: 100%;
}

h1 {
    padding-top: 1rem;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    /*outline: 1px solid #26b050;*/
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/*Heading, Suggestion************************************************/

.page-heading {
    text-align: center;
    color: white;
}

.suggest-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.suggest-btn {
    font-family: 'Montserrat', sans-serif;
    border-width: 3px;
    border-radius: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 900;
}

.btn-outline-dark:hover {
    color: cadetblue;
    background-color: #000000;
    border-color: #000000;
}

/*Count, Sort, Search************************************************/

.expression-count {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding-left: 30px;
}

.btn:focus,
form-control:focus {
    box-shadow: none;
}

.btn-order {
    background-color: white;
    border: 0px solid black;
    border-radius: 10px;
}

    .btn-order:hover {
        background-color: lightgray;
    }

.order-selected {
    background-color: #E5E5E5;
}

.search-box {
    --bs-gutter-x: 3.5rem;
}

.rounded-control {
    border-radius: 10px;
}

/*Expression, Category************************************************/

.expression-entry {
    display: grid;
    grid-template-columns: 110px 1fr;
    border-radius: 20px;
    margin: 10px 0;
    box-shadow: rgba(0,0,0,0.35) 0 5px 15px;
}

.expression-entry-no-likes,
.expression-entry-liked {
    text-align: center;
    border-right: 3px cadetblue solid;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: cadetblue;
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size: 0.7rem;
    min-height: 110px;
    cursor: pointer;
}

.expression-entry-no-likes {
    background-color: #E5E5E5;
    border-color: cadetblue;
}

.expression-entry-liked {
    background-color: cadetblue;
}
    .expression-entry-no-likes:hover,
    .expression-entry-liked:hover {
        background-color: lightgray;
    }

.expression-entry-like {
    font-size: 3rem;
}

.expression-entry-text {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
}

    .expression-entry-text:hover {
        background-color: lightgray;
        cursor: pointer;
    }

.expression-entry-text-title {
    flex-grow: 1;
    padding-top: 10px;
}

.expression-entry-text-category {
    text-transform: uppercase;
    color: darkgray;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    flex: 1;
    display: flex;
    align-items: flex-end;
}

.categories {
    margin-top: 1rem;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
}

    .categories div {
        margin-top: 0.5rem;
        padding-left: 1rem;
    }

        .categories div:hover {
            cursor: pointer;
            background-color: lightgray;
            border-radius: 10px;
        }

.category-bold {
    font-weight: 700;
}

.selected-category {
    border-radius: 8px;
    background-color: #E5E5E5;
}

.selected-category-single {
    border-radius: 8px;
}

/*Create Page************************************************/

.create-form-center {
    justify-content: center;
    display: flex;
    align-items: center;
}

.form-layout {
    background-color: white;
    border-radius: 15px;
    padding: 2rem;
}

    .form-layout a {
        font-weight: 700;
        color: cadetblue;
    }

        .form-layout a:hover {
            font-weight: 700;
            color: cadetblue;
            text-decoration: underline;
        }

.close-button-section {
    display: flex;
    justify-content: flex-end;
}

.input-section {
    margin-bottom: 2rem;
}

.input-label {
    font-weight: 700;
}

.input-description {
    margin-bottom: 0.5rem;
}

.radio-item-group input[type="radio"] {
    display: none;
}

.radio-item-group label {
    border-color: cadetblue;
    border-width: 1px;
    padding: 0.3rem 1.5rem;
    border-radius: 10px;
    width: 100%;
    border-style: solid;
}

.radio-item-group input[type="radio"]:checked + label {
    background-color: cadetblue;
    color: white;
    width: 100%;
    border: 1px cadetblue solid;
}

.radio-item-group {
    margin: 0.5rem;
}

.center-children {
    display: flex;
    justify-content: center;
}

.btn-main {
    color: white;
    background-color: cadetblue;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    border-radius: 10px;
    border-width: 3px;
}

.btn-main:hover {
    color: cadetblue;
    border-color: cadetblue;
    background-color: white;
    border-width: 3px;
}

/*Details Page************************************************/

.expression-detail-row {
    --bs-gutter-x: 0;
}

.expression-detail {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 0;
}

.expression-detail-no-likes,
.expression-detail-liked {
    box-shadow: rgba(0,0,0,0.35) 0 5px 15px;
    border-radius: 10px;
    text-align: center;
    line-height: 1rem;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8rem;
    color: white;
    cursor: pointer;
}

.expression-detail-no-likes {
    background-color: #E5E5E5;
}

.expression-detail-liked {
    background-color: cadetblue;
}

    .expression-detail-no-likes:hover,
    .expression-detail-liked:hover {
        background-color: lightgray;
    }

.expression-detail-like {
    font-size: 2.7rem;
}

.expression-detail-date {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px; 
}

.expression-detail-text {
    display: flex;
    flex-direction: column;
    padding-left: 27px;
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 10px;
}

.expression-detail-word {
    font-weight: 700;
    font-size: 1.25rem;
}

/*Admin Page************************************************/

.submission {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    margin: 0.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.btn-approve,
.btn-reject {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    border-width: 3px;
}

.btn-approve {
    color: white;
    background-color: #B5D43A;
    border-color: white;
}

    .btn-approve:hover {
        color: #B5D43A;
        background-color: white;
        border-color: #B5D43A;
    }

.btn-reject {
    color: white;
    background-color: #E9354C;
    border-color: white;
}

    .btn-reject:hover {
        color: #E9354C;
        background-color: white;
        border-color: #E9354C;
    }

.approval-edit-form {
    display: flex;
}

.approval-edit-field {
    flex: 1;
    border-radius: 10px;
}

.submission-edit-approve {
    color: #B5D43A;
}

    .submission-edit-approve:hover {
        font-weight: 700;
    }

.submission-edit-reject {
    color: #E9354C;
}

    .submission-edit-reject:hover {
        font-weight: 700;
    }

.submission-edit-icon {
    padding-left: 1rem;
    padding-right: 1rem;
}

    .submission-edit-icon:hover {
        color: cadetblue;
    }

/*Media queries************************************************/

@media screen and (max-width: 575px) {
    .btn-approve,
    .btn-reject {
        width: 45%;
    }

    .expression-entry {
        grid-template-columns: 100px 1fr
    }

    .expression-entry-no-likes,
    .expression-entry-liked {
        min-height: 100px;
    }
}

@media screen and (max-width: 767px) {
    .search-box {
        --bs-gutter-x: inherit;
        margin-top: 10px;
    }

    .categories {
        margin: 0;
        margin-top: 10px;
        padding: 0.375rem;
        padding-left: 0.75rem;
    }

    .suggest-container {
        margin-bottom: 1rem;
    }

    .create-form {
        margin: 0;
        margin-bottom: 1rem;
    }

    .form-layout {
        padding: 1rem;
    }

    .detail-form-layout {
        padding: 2rem;
    }

    .submission {
        margin: 0;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .expression-entry-text-category {
        padding-top: 0.5rem;
    }
}