

@inject ICategoryCollection dbCategories
@inject IExpressionCollection dbExpressions

<h3>Sample Data</h3>

@if (categoriesCreated_)
{
    <h4>Categories have been created</h4>
}
else
{
    <button class="btn btn-primary" @onclick="CreateCategories">Create Categories</button>
}

@if (expressionsCreated_)
{
    <h4>Expressions have been created</h4>
}
else
{
    <button class="btn btn-danger" @onclick="GenerateSampleData">Generate Sample Data</button>
}

@code {
    private bool categoriesCreated_ = false;
    private bool expressionsCreated_ = false;

    private async Task CreateCategories()
    {
        var categories = await dbCategories.GetAllAsync();
        if (categories?.Count > 0)
            return;

        var categorySample = new List<string>
        {
            "Предмет",
            "Качество",
            "Действие",
            "Междометие",
            "Ругательное",
            "Кличка",
            "Требует уточнения"
        };


        foreach (var name in categorySample)
        {
            var category = new Category(name);
            await dbCategories.Create(category);
        }

        categoriesCreated_ = true;
    }

    private async Task GenerateSampleData()
    {
        if (!categoriesCreated_)
        {
            await CreateCategories();
        }

        var categories = await dbCategories.GetAllAsync();

        var exprerssionSample = new List<(string, string, string)>
        {
            ("Агу", "Ага", "Междометие"),
            ("Ануча", "Тряпка", "Предмет"),
            ("Араць", "Пахать", "Действие"),
            ("Бало, балешнi", "Старомодный", "Качество"),
            ("Бляха", "Поднос", "Предмет"),
            ("Браскаць", "Лязгать", "Действие"),
            ("Бэбах", "Желудок свиньи", "Предмет"),
            ("Бэз", "Сирень", "Предмет"),
            ("Вiдно", "Светло", "Качество"),
            ("Ваўрэць", "Очуметь от жары", "Действие"),
            ("Вячэра", "Ужин", "Предмет"),
            ("Вешняк", "Весенний ветер", "Предмет"),
            ("Вото", "Вот", "Междометие"),
            ("Гiчанне", "Листья свеклы", "Предмет"),
            ("Ганiць", "Обсирать", "Действие"),
            ("Ганак", "Порог", "Предмет"),
            ("Горад", "Лунинец", "Предмет"),
            ("Гурок", "Огурец", "Предмет"),
            ("Дзiвiцца", "Смотреть", "Действие"),
            ("Драбiна", "Лестница", "Предмет"),
            ("Дработня, дравотня", "Шалаш для дров", "Предмет"),
            ("Драпач", "Мотыга", "Предмет"),
            ("Дэй", "Да и все", "Междометие"),
            ("Дэрык", "Мотоблок", "Предмет"),
            ("Е", "Есть (форма \"быть\")", "Действие"),
            ("З гураем", "С горкой", "Качество"),
            ("Зарэ", "Сейчас", "Качество"),
            ("Зацiшак", "Место, где нет ветра", "Предмет"),
            ("Кагэ, кажэ", "Говорит", "Действие"),
            ("Кажын", "Каждый", "Качество"),
            ("Каламбур", "Кафе \"Спадарожник\"", "Предмет"),
            ("Калюга", "Лужа", "Предмет"),
            ("Капанiца", "Тяпка", "Предмет"),
            ("Каўкаць", "Делать характерные движения при позывах к рвоте", "Действие"),
            ("Княгiня", "Девушка", "Предмет"),
            ("Косцерэва", "Система корней, остающаяся от травы", "Предмет"),
            ("Крышыць", "Крошить", "Действие"),
            ("Кубло", "Гнездо", "Предмет"),
            ("Курыць бамбук", "Перекурить", "Ругательное"),
            ("Лецен", "Пристройка к дому", "Предмет"),
            ("Лучына", "Деревяшка для растопки", "Предмет"),
            ("Люля", "Место для сна, пойти в люлю - пойти спать", "Ругательное"),
            ("Ляскаць", "Молоть языком", "Ругательное"),
            ("Лёх", "Погреб", "Предмет"),
            ("Маць ее кляп", "Хуй с ним", "Ругательное"),
            ("Мусиш", "Вынужден", "Качество"),
            ("Мусово", "Надо", "Качество"),
            ("Нашчо", "Зачем", "Междометие"),
            ("Падлога", "Пол", "Предмет"),
            ("Паколодка", "Западня", "Ругательное"),
            ("Палiца", "Полка", "Предмет"),
            ("Палас", "Ковер", "Предмет"),
            ("Палендрыца", "Полендвица", "Предмет"),
            ("Пиздося", "Руг.", "Ругательное"),
            ("Пляц", "Участок", "Предмет"),
            ("Пляшка", "Бутылка вина", "Предмет"),
            ("Поба", "Посмотри", "Междометие"),
            ("Повець", "Чердак для хранения сена", "Предмет"),
            ("Подсобiць", "Помочь", "Действие"),
            ("Похуй вьюга", "Похуй", "Ругательное"),
            ("Пранье", "Белье", "Предмет"),
            ("Прызба", "Лавка возле дома", "Предмет"),
            ("Прылёшнiк", "Сени в погреб", "Предмет"),
            ("Рапожэ", "Ноги", "Ругательное"),
            ("Рэзаки", "Ушлые люди", "Требует уточнения"),
            ("Ровэр", "Велосипед", "Предмет"),
            ("Сакера", "Топор", "Предмет"),
            ("Снедаць", "Кушать", "Действие"),
            ("Сракацца", "Пытаться сделать", "Ругательное"),
            ("Таркаваць", "Тереть", "Действие"),
            ("Торба", "Сумка", "Предмет"),
            ("Тулюлё", "Чел на тракторе", "Кличка"),
            ("Удырыць", "Ударить", "Действие"),
            ("Унадзiцца", "Повадиться", "Действие"),
            ("Унь, вунь, унё", "Вон (употребляется вместе с \"там\" - унь там)", "Междометие"),
            ("Ушыхоўвацца", "Делать работы по хозяйству", "Действие"),
            ("Хiба", "Разве", "Междометие"),
            ("Хiзок", "Чердак хлева", "Предмет"),
            ("Хорошыць", "Чистить (бульбу)", "Действие"),
            ("Хрэсьбiны", "Кристины", "Предмет"),
            ("Худоба", "Домашние животные", "Предмет"),
            ("Цвялiць", "Дразнить", "Действие"),
            ("Цэтлiк", "Чек", "Предмет"),
            ("Чавiць", "Мять", "Действие"),
            ("Чыхавiца", "Чихание (в значении \"приставучее недомогание\")", "Предмет"),
            ("Шпiк", "Шпион", "Предмет"),
            ("Шыпалёнец", "Руг.", "Требует уточнения"),
            ("Шыховаць", "Подготавливать", "Действие"),
        };

        var random = new Random();

        foreach (var (word, transaltion, categoryName) in exprerssionSample)
        {
#nullable disable
            var category = categories.Where(c => c.Name == categoryName).Single();
#nullable restore
            var expression = new Expression(word, transaltion, category);
            expression.Status = Status.Approved;
            await dbExpressions.Create(expression);
        }
    }
}
